<ion-content>
  <form class="container" [formGroup]="formGroup" (ngSubmit)="calculate()">
    <label>Primeiro nome</label>
    <input required placeholder="Insira um nome aqui" formControlName="firstName" />

    <label>Segundo nome</label>
    <input required placeholder="Insira um nome aqui" formControlName="secondName" />

    <button [class]="buttonClass" type="submit" [disabled]="formGroup.invalid" >Calcular</button>
    
    <p class="phrase ion-text-center">{{phrase}}</p>
    <p class="ion-text-center" *ngIf="percente !== -1">{{ percente }}%</p>

    <ion-icon [class]="heartClass" size="large" name="heart"></ion-icon>
  </form>
</ion-content>