.container {
    padding: 1rem;

    label {
        display: block;
    }

    input {
        margin: .5rem 0;
        border-radius: .5rem;
        padding: 1rem;
        border: 1px solid var(--heartcolor);
        outline-color: pink;
        width: 100%; 
        
        &:focus::placeholder {
            color: transparent;
        }

        &:invalid {
            outline-color: red;
        }

        &:valid {
            outline-color: green;
        }
    }
}

.submit-button {
    width: 300px;
    height: 2rem;
    background-color: var(--heartcolor);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 99999;
    transition: .2s ease-in-out;

    &:disabled {
        opacity: 0.5;
    }
}

.phrase {
    
}

.heart {
    fill: red;
    margin: 1rem auto;
    display: none;
}

.pulse {
    display: block;
    animation: .5s pulse .2s infinite; 
}

.jump {
    width: 2rem;
    height: 2rem;
    font-size: 0px;
    padding: 0px;
    border-radius: 50%;
    transform-origin: bottom;

    animation: .5s infinite .4s jump;
}

.expand {
    width: 2rem;
    height: 2rem;
    font-size: 0px;
    padding: 0px;

    animation: .5s ease-in-out .4s expand;
}

@keyframes jump {
    0%{
        width: 48px;
        height: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, .25);
    }

    50%{
        width: 32px;
        height: 32px;
        transform: translateY(-50px);
        box-shadow: 0px 50px 10px 1px rgba(0, 0, 0, .1);
    }

    100%{
        width: 48px;
        height: 30px;
        transform: translateY(0px);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, .4);
    }
}

@keyframes expand {
    0% {
        box-shadow: 0px 0px 0px 0vw var(--heartcolor);
    }

    50% {
        box-shadow: 0px 0px 0px 200vw var(--heartcolor);
    }

    100% {
        box-shadow: 0px 0px 0px 0vw var(--heartcolor);
    }
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(2);
    }

    100%{
        transform: scale(1);
    }
}