.container {
    padding: 1rem;
}

.animated-button {
    width: 300px;
    height: 2rem;
    background-color: rgb(0, 213, 228);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1rem;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;

    transition: .2s ease-in-out;
}

.jump {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 0px;
    padding: 0px;

    animation: .3s infinite .4s jump;
}

.expand {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 0px;
    padding: 0px;

    animation: .4s ease-in-out .4s expand;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes expand {
    0% {
        box-shadow: 0px 0px 0px 0vw rgb(0, 213, 228);
    }

    50% {
        box-shadow: 0px 0px 0px 200vw rgb(0, 213, 228);
    }

    100% {
        box-shadow: 0px 0px 0px 0vw rgb(0, 213, 228);
    }
}

